<div class="main-left">
	<h2>Rediger Anbefaling</h2>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @review["cover_url"] %>">
			<% if @review["cover_url"] %>
				<img class="cover" src="<%= @review["cover_url"] %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><%= @review["title"] %></strong></p>
			<p><strong><%= @review["author"] %></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<form id="review-form" action="/update" method="POST">
		<input type="hidden" name="uri" id="uri" value="<%= @review["reviews"].first["uri"] %>">
		<input type="hidden" id="published" name="published" value="false" />
		<input type="hidden" id="delete" name="delete" value="false" />
		<input id="title" class="required" type="text" name="title" placeholder="Tittel på anbefalingen" value="<%= @review['reviews'].first['title']%>"/>
		<textarea id="teaser" class="required" name="teaser" rows="2" placeholder="Skriv en teaser, maks to setninger"><%= @review['reviews'].first['teaser']%></textarea>
		<textarea id="text" class="required" name="text" rows="20" placeholder="Skriv en omtale"><%= @review['reviews'].first['text']%></textarea>

		<div>
		<fieldset id="audiences-fieldset">
			<p>Målgruppe(r) for <em>anbefalingen</em>, ikke for boka:</p>
			<input id="a1" class="audiences" name="a1" <%= 'checked="checked"' if @review['reviews'].first['audience'].match /barn/i %> type="checkbox" value="barn">
			<label for="a1" class="checklabel">barn</label>
			<input id="a2" class="audiences" name="a2" <%= 'checked="checked"' if @review['reviews'].first['audience'].match /ungdom/i %> type="checkbox" value="ungdom">
			<label for="a2" class="checklabel">ungdom</label>
			<input id="a3" class="audiences" name="a3" <%= 'checked="checked"' if @review['reviews'].first['audience'].match /voksen/i %> type="checkbox" value="voksen">
			<label for="a3" class="checklabel">voksne</label>
		</fieldset>
		</div>

		<div class="clearfix"></div>

		<div style="margin-top:20px;">
			<div style="float:left">
				<button id="delete" class="medium gray">Slett</button>
<!-- 				<button class="medium gray">Forhåndsvisning</button> -->
			</div>
			<div style="float:right;margin-right:-25px">
				<% if @review["reviews"].first["published"] == false %>
					<button id="draft" class="medium gray">Lagre kladd</button>
					<button id="publish" class="medium red">Publisér</button>
				<% else %>
					<button id="draft" class="medium gray">Trekk tilbake</button>
					<button id="publish" class="medium red">Lagre</button>
				<% end %>
			</div>
		</div>
		<div class="clearfix"></div><div style="margin-top: 100px"></div>
	</form>
</div>
<div class="main-right">
	<%= erb :login %>
	<%= erb :tipsbar %>
</div>