<div class="main-left">
	<p class="lokkeskrift">Hei og velkommen!</p>
	<p class="lokkeskrift" style="font-size:31px">Her finner du bokanbefalinger skrevet av bibliotekansatte fra hele Norge</p>
	<a href="/se-lister"><div class="forside-boks">
		<p>Se eksempler på lister med anbefalinger du kan bruke. Helt gratis!</p>
	</div></a>
	<a href="/lag-lister"><div class="forside-boks">
		<p>Lag din egen liste med anbefalinger og vis den som en RSS-strøm på nettsiden din!</p>
	</div></a>
	<a href="/om"><div class="forside-boks">
		<p>Vil du og ditt bibliotek bidra med anbefalinger til basen? Slik gjør du det!</p>
	</div></a>
	<h3 style="margin-top:50px">Nyeste anbefalinger</h3>
	<% @reviews.each do |review| %>
		<div class="clearfix"></div>
		<div class="listevisning">
			<div class="liste-img <%= "light-gray" unless review.book_cover %>">
				<% if review.book_cover %>
					<img src="<%= review.book_cover %>">
				<% else %>
					<p class="cover-author"><%= review.book_authors.map { |a| a["name"] }.join(", ") %></p>
					<p class="cover-title"><%= review.book_title %></p>
				<% end %>
			</div>
			<div class="liste-info">
				<p class="liste-title"><a href="/anbefaling/<%= review.uri[24,200] %>"><%= review.book_title %></a></p>
				<p class="liste-author">av <%= authors_links(review.book_authors) %></p>
				<p class="liste-under">anbefalt av <%= reviewer_link(review) %></a> <span class="liste-date"><%= dateformat(review.issued) %></span> </p>
				<p class="liste-teaser"><%= review.teaser %> <a href="/anbefaling/<%= review.uri[24,200] %>">Les mer.</a></p>
			</div>
		</div>
	<% end %>
	<div class="clearfix"></div>
	<p><br></p>
</div>
<div class="main-right">
	<%= erb :login %>
</div>