<!doctype html>
<html lang="no">

<head>
  <meta charset="utf-8">

  <title><%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="Deichmanske Bibliotek">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div id="container">
    <header>
      <div id="header-inner">
        <a href="/"><img src="/img/logo.png" id="logo" alt="logo"/></a><br />
        <form id="search-form" action="/search" method="POST">
          <input type="search" name="search" id="search-input" placeholder="forfatter eller tittel">
          <button type="submit" id="search-button">Søk</button>
        </form>
        <div id="header-links">
          <a href="/om">Om bokanbefalinger</a><a href="/skrivetips">Skrivetips</a>
        </div>
      </div>
    </header>

    <div id="main" role="main">

      <ul id="navbar">
        <li <%= 'class="active"' if request.path_info == '/' %>>
          <a href="/"><span class="inner-navbutton">Forside</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/anbefalinger' %>>
          <a href="/anbefalinger"><span class="inner-navbutton">Bokanbefalinger</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/lister' %>>
          <a href="/lister"><span class="inner-navbutton">Lister</span></a>
        </li>
        <% if session[:user] %>
          <li <%= 'class="active"' if request.path_info == '/myreviews' %>>
            <a href="/"><span class="inner-navbutton">Mine anbefalinger</span></a>
          </li>
          <li <%= 'class="active"' if request.path_info == '/ny' %>>
            <a href="/ny"><span class="inner-navbutton">Skriv anbefaling</span></a>
          </li>
        <% end %>
      </ul>

      <%= yield %>
    </div>

    <footer>

    </footer>
  </div>
</body>
</html>