<!doctype html>
<html lang="no">

<head>
  <meta charset="utf-8">

  <title><%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="Deichmanske Bibliotek">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/chosen.jquery.min.js"></script>
  <script src="/js/underscore-min.js"></script>

  <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="container">
    <header>
      <div id="header-inner">
        <a href="/"><img src="/img/logo.png" id="logo" alt="logo"/></a><br />
        <form id="search-form" action="/søk" method="GET">
          <input type="search" name="forfatter" id="search-input" placeholder="forfatter, tittel eller ISBN">
          <input type="hidden" name="tittel" id="search-input-copy">
          <input type="hidden" name="isbn" id="search-input-isbn">
          <button type="submit" id="search-button">Søk</button>
        </form>
        <div id="header-links">
          <a href="/om">Om bokanbefalinger</a><a href="/om">API</a>
          <% if session[:user] %><a href="/skrivetips">Skrivetips</a><% end %>
        </div>
      </div>
    </header>
    <div id="top"></div>
    <div id="main" role="main">

      <ul id="navbar">
        <li <%= 'class="active"' if request.path_info == '/' %>>
          <a href="/"><span class="inner-navbutton">Forside</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/anbefalinger' %>>
          <a href="/anbefalinger"><span class="inner-navbutton">Bokanbefalinger</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/lister' %>>
          <a href="/lister"><span class="inner-navbutton">Lister</span></a>
        </li>
        <% if session[:user] %>
          <li <%= 'class="active"' if request.path_info == '/minside' %>>
            <a href="/minside"><span class="inner-navbutton">Mine anbefalinger</span></a>
          </li>
          <li <%= 'class="active"' if request.path_info =~ /\/ny|finn$/ %>>
            <a href="/finn"><span class="inner-navbutton">Skriv anbefaling</span></a>
          </li>
          <li style="border:none" <%= 'class="active"' if request.path_info =~ /innstillinger/ %>>
            <a href="/innstillinger"><span class="inner-navbutton">Innstillinger</span></a>
          </li>
        <% end %>
      </ul>
      <div id="messages">
        <% session[:flash_info].each do |info| %>
          <p class="info"><%= info %></p>
        <% end %>
        <% session[:flash_error].each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
        <% session[:flash_error] = [] %>
        <% session[:flash_info] = [] %>
      </div>

      <%= yield %>
    </div>

    <footer>
      <script src="/js/app.js"></script>
    </footer>
  </div>
</body>
</html>