<!doctype html>
<html lang="no">

<head>
  <meta charset="utf-8">

  <title><%= @title %></title>
  <meta name="description" content="">
  <meta name="author" content="Deichmanske Bibliotek">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/chosen.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/chosen.jquery.min.js"></script>
  <script src="/js/underscore-min.js"></script>

  <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="container">
    <header>
      <div id="header-inner">
        <a href="/"><span id="logo">Bokanbefalinger</span></a><br />
        <div id="header-links">
          <a href="/sok">Søk i bokanbefalinger</a>
          <a href="/om">Om bokanbefalinger</a><a href="/api">API</a>
          <% if session[:user] %><a href="/skrivetips">Skrivetips</a><% end %>
        </div>
      </div>
    </header>
    <div id="top"></div>
    <div id="main" role="main">

      <ul id="navbar">
        <li <%= 'class="active"' if request.path_info == '/' %>>
          <a href="/"><span class="inner-navbutton">Forside</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/anbefalinger' %>>
          <a href="/anbefalinger"><span class="inner-navbutton">Nye anbefalinger</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/se-lister' %>>
          <a href="/se-lister"><span class="inner-navbutton">Se lister</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info == '/lag-lister' %>>
          <a href="/lag-lister"><span class="inner-navbutton">Lag lister</span></a>
        </li>
        <li <%= 'class="active"' if request.path_info.match /sok/ %>>
          <a href="/sok"><span class="inner-navbutton">Søk</span></a>
        </li>
      </ul>
      <div id="messages">
        <% Array(session[:flash_info]).each do |info| %>
          <p class="info"><%= info %></p>
        <% end %>
        <% Array(session[:flash_error]).each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
        <% session[:flash_error] = [] %>
        <% session[:flash_info] = [] %>
      </div>

      <%= yield %>
    </div>

    <footer>
      <script src="/js/app.js"></script>
    </footer>
  </div>
</body>
</html>