<% if @reviews.count > 10 %>
	<h3><%= @reviews.count %> treff, viser de første 10</h3>
<% else %>
	<h3><%= @reviews.count %> treff</h3>
<% end %>
<% @reviews[0..10].each do |r| %>
	<div class="clearfix"></div>
	<div class="listevisning">
		<div class="liste-img light-gray">
			<!-- <img src="<%= r['cover_url'] %>"> -->
		</div>
		<div class="liste-info">
			<p class="liste-title"><a href="/anbefaling/<%= r[24,200] %>"><%= "Tittel på boka" %></a></p>
			<p class="liste-author">av <%= "Forfatter Forfattersen" %></p>
			<p class="liste-under">anbefalt av <span class="liste-reviewer"><%= "A. Anbefalersen" %></span> <span class="liste-date">01.01.2013</span> </p>
			<p class="liste-teaser"><%= "teaser til #{r} kommer her" %></p>
		</div>
	</div>
<% end %>
