<% if @reviews.count > 10 %>
	<h3><%= @reviews.count %> treff, viser de første 10</h3>
<% else %>
	<h3><%= @reviews.count %> treff</h3>
<% end %>
<% @reviews.each do |work| %>
	<% r = work["reviews"].first %>
	<div class="clearfix"></div>
	<div class="listevisning">
		<div class="liste-img <%= "light-gray" unless work['cover_url'] %>">
			<img src="<%= work['cover_url'] %>">
		</div>
		<div class="liste-info">
			<p class="liste-title"><a href="/anbefaling/<%= r["uri"][24,200] %>"><%= work["prefTitle"] || work["originalTitle"] %></a></p>
			<p class="liste-author">av <%= work["authors"].map { |a| a["name"] } .join ", " %></p>
			<p class="liste-under">anbefalt av <span class="liste-reviewer"><%= r["reviewer"]["name"] %></span> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<p class="liste-teaser"><%= r["teaser"] %></p>
		</div>
	</div>
<% end %>
