<div id="list-rsslink">
	<span class="hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser"><img class="rss" src="img/feed-icon-28x28.png"></span><input id="rss-link" class="text" disabled="disabled" value="<%= @feed_url %>"></input>
	<button class="long green" id="rss-copy">Kopier RSS-lenken</button>
</div>
<% if @uris.count > 10 %>
	<h3><%= @uris.count %> treff, viser de siste 10</h3>
<% else %>
	<h3><%= @uris.count %> treff</h3>
<% end %>
<% @reviews.each do |work| %>
	<% r = work["reviews"].first %>
	<div class="clearfix"></div>
	<div class="listevisning">
		<div class="liste-img <%= "light-gray" unless work['cover_url'] %>">
			<img src="<%= select_cover(work) %>">
		</div>
		<div class="liste-info">
			<p class="liste-title"><a href="/anbefaling/<%= r["uri"][24,200] %>"><%= work["prefTitle"] || work["originalTitle"] %></a></p>
			<p class="liste-author">av <%= authors_links(work["authors"]) %></p>
			<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<p class="liste-teaser"><%= r["teaser"] %></p>
		</div>
	</div>
<% end %>
<div class="clearfix"></div>
