<div class="main-left">
	<h2>Lag din egen liste med anbefalinger som passer for deg og ditt bibliotek</h2>

	<div id="kriterium-container">
		<div class="kriterium-outer">
			<select class="kriterium" autocomplete="off">
				<option value="s0">Velg kriterium</option>
				<option value="s1">Sjanger</option>
				<option value="s2">Emne</option>
				<option value="s3">Litterær form</option>
				<option value="s4">Målgruppe (boka)</option>
				<option value="s11">Målgruppe (anbefalingen)</option>
				<option value="s5">Forfatter</option>
				<option value="s6">Forfatters nasjonalitet</option>
				<option value="s7">Omtalt person</option>
				<option value="s8">Sidetall</option>
				<option value="s9">Utgivelsesår</option>
				<option value="s10">Dokumentspråk</option>
			</select>
		</div>
	</div>
	<div class="kriterium-add">
		<button id="add-kriterium">Legg til kriterium</button>
	</div>

	<div class="clearfix"></div>
	<button id="reset-krierier" class="medium gray">Begynn på nytt</button>
	<button id="generate-list" style="margin-top:30px" class="medium green">Generér liste</button>
	<div class="clearfix"></div>
	<div id="list-results">

	</div>

	<div class="clearfix"></div>
	<span class="kriterium-inner s1">
		<select data-placeholder="velg sjanger" class="genre inner-input">
			<option></option>
			<% @dropdown.genres.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s2">
		<select data-placeholder="velg emne" class="emne inner-input">
			<option></option>
			<% @dropdown.subjects.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s3">
		<select data-placeholder="velg literær form" class="litform inner-input">
			<option></option>
			<% @dropdown.formats.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s4">
		<select data-placeholder="velg målgruppe (for boka)" class="audience inner-input">
			<option></option>
			<option value="http://data.deichman.no/audience/adult">voksne</option>
			<option value="http://data.deichman.no/audience/juvenile">ungdom</option>
			<option value="http://data.deichman.no/audience/ages_0-5">0-5 år</option>
			<option value="http://data.deichman.no/audience/ages_6-7">6-7 år</option>
			<option value="http://data.deichman.no/audience/ages_8-9">8-9 år</option>
			<option value="http://data.deichman.no/audience/ages_10-11">10-11 år</option>
			<option value="http://data.deichman.no/audience/ages_12-15">12-15 år</option>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s5">
		<select data-placeholder="velg forfatter" class="forfatter inner-input">
			<option></option>
			<% @dropdown.authors.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s6">
		<select data-placeholder="velg forfatters nasjonalitet" class="nasjonalitet inner-input">
			<option></option>
			<% @dropdown.nationalities.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s7">
		<select data-placeholder="velg omtalt person" class="person inner-input">
			<option></option>
			<% @dropdown.persons.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s8">
		<label>flere enn <input class="pages-from number" type="text" maxlength="4"></label>
		<label>færre enn <input class="pages-to number" type="text" maxlength="4"></label>
		sider
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s9">
		<label>fra <input class="years-from number" type="text" maxlength="4"></label>
		<label>til <input class="years-to number" type="text" maxlength="4"></label>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s10">
		<select data-placeholder="velg dokumentspråk" class="language inner-input">
			<option></option>
			<% @dropdown.languages.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"><%= v %></option>
			<% end %>
		</select>
		<button class="fjern small">x</button>
	</span>
	<span class="kriterium-inner s11">
		<select data-placeholder="velg målgruppe (for anbefalingen)" class="review-audience inner-input">
			<option></option>
			<option value="http://data.deichman.no/audience/children">barn</option>
			<option value="http://data.deichman.no/audience/youth">ungdom</option>
			<option value="http://data.deichman.no/audience/adult">voksne</option>
		</select>
		<button class="fjern small">x</button>
	</span>
</div>
<div class="main-right">
	<%= erb :login %>
</div>
<script>
	$(document).ready(function() {

		/* liste-generator logikk */

		// Ikke vis 'legg til kriterium' før noe kriterium er valgt
		$('.kriterium-add').hide();

		$('#add-kriterium').on('click', function() {
			var $kdiv = $(".kriterium-outer:first").clone();
			$kdiv.find('.kriterium-inner').remove().end().
				find(':input').prop('disabled', false);
			if ( $('.kriterium-outer:last').hasClass("chosen") ) {
				$('#kriterium-container').append($kdiv.removeClass("chosen"));
			}
			// Lås tidligere kriterier
			$('.kriterium-outer:not(:last-child)').find(':input').prop('disabled', true).
				trigger("liszt:updated").find('.fjern').hide();
			// Skjul legg-til knappen
			$('.kriterium-add').hide();
		});

		$('#kriterium-container').on('change', 'select.kriterium', function() {
			var k = $(this).find("option:selected").val();
			var $kdiv = $(this).parents(".kriterium-outer");
			$kdiv.find('.kriterium-inner').remove();
			if (k != "s0") {
				$kdiv.addClass("chosen");
				if ( $('#kriterium-container .kriterium-inner').length == 0 || k == "s8" || k == "s9" || $("."+k+".chosen").length >= 1 ) {
					// Add inner select if first criteria, same criteria, or non-dropdown criteria
					//console.log("First criteria, same criteria or non-dropdown criteria");
					$('img.loading').remove();
					var $kspan = $('.'+k+':last').clone().appendTo($kdiv).show()

					if ( $("."+k+".chosen").length >= 1) {
						// remove all uris not in first selected criteria
						//console.log("remove some");
						var data = $('.'+k+":first").find('option').map(function() {
							return $(this).val();
						}).get();
						$kdiv.find('.kriterium-inner option').each(function() {
							if ( $(this).val() != "" && $.inArray($(this).val(), data) == -1) {
								$(this).remove();
							}
						});
					}

					$kdiv.find('.inner-input').chosen({no_results_text: "Ingen treff for"});

				} else {
					// perform POST /dropdown and repopulate input options to avoid non-matching uris
					//console.log("repopulate dropdown");
					$kdiv.append("<img class='loading' src='img/loading.gif'>");
					// disable submit when loading:
					$('#generate-list').prop("disabled", true);

					data = collectCriteria();
					data.dropdown = k;

					var request = $.ajax({
					  url: '/dropdown',
					  type: "POST",
					  data: data,
					  dataType: "json"
					});

					request.done(function(data) {
						// enable submit
						$('#generate-list').prop("disabled", false);

						$('img.loading').remove();
						//console.log(data);

						var $kspan = $('.'+k+':last').clone()
						$kspan.find('option').each(function() {
							if ( $(this).val() != "" && $.inArray($(this).val(), data) == -1) {
								$(this).remove();
							}
						});

						$kspan.appendTo($kdiv).show()
						if ( $kdiv.find('.kriterium-inner option:last').val() == "") {
							$kdiv.find('.kriterium-inner').html("Ingen treff.");
						} else {
							$kdiv.find('.inner-input').chosen({no_results_text: "Ingen treff for"});
						}
					});
				}

				// Ikke vis 'fjern' knapp hvis det er bare ett kriterium
				if ( $('.kriterium-outer').length <= 1 ) {
					$('.fjern').hide();
				} else {
					$('.fjern').show();
					$('#kriterium-container').find('.fjern:first').hide();
				}
			} else {
				$kdiv.removeClass("chosen");
				$('.kriterium-add').hide();
				if ($('.kriterium-outer').not('.chosen').length >= 2) {
					$('.kriterium-outer:last').remove();
				}
			}
		});

		$('#kriterium-container').on('change', '.inner-input', function() {
			var k = $(this).find("option:selected").val();
			if (k === $(this).find("option:first").val() ) {
				$(this).parents('.kriterium-inner').removeClass('chosen');
				// Skjul 'legg til kriterium'
				$('.kriterium-add').hide();
			} else {
				$(this).parents('.kriterium-inner').addClass('chosen');
				// Vis 'legg til kriterium'
				$('.kriterium-add').show();
			}
		});

		$('#kriterium-container').on('click', 'button.fjern', function() {
			$(this).parents('.kriterium-outer').remove();
			// Ikke vis 'fjern' knapp hvis det er bare ett kriterium
			if ( $('.kriterium-outer').length <= 1 ) {
				$('.fjern').hide();
			} else {
				$('.fjern').show();
				$('#kriterium-container').find('.fjern:first').hide();
			}
			// Lås opp siste kriterium
			$('.kriterium-outer:last').find(':input').prop('disabled', false).
				trigger("liszt:updated");
		});

		// Skjul 'legg til kriterium' hvis input felt er tomme
		$('#kriterium-container').on('keyup', 'input.number', function() {
			var v="";
			$(this).parents('.kriterium-inner').find('input[type="text"]')
			  .each(function() {
			  	v+=$(this).val();
			  });
			if ( v != "" ) {
				$('.kriterium-add').show();
			} else {
				$('.kriterium-add').hide();
			}
		});

		// Reset alle kriterier
		$('#reset-krierier').on('click', function() {
			$('.kriterium-outer :not(:first)').remove();
			$('.kriterium-outer:first').find('.kriterium-inner').remove();
			$('.kriterium-outer:first').find('option:first').prop('selected', true).end()
				.find(':input').prop('disabled', false);
			$('.kriterium-add').hide();
			$('#list-rsslink').hide();
			$('#list-results').html("");
		});

		// Kopier RSS-lenke
		$('#list-results').on('click', '#rss-copy', function() {
			window.prompt("Trykk Ctrl+C, så Enter for å kopiere", $('#rss-link').val());
		});

		function collectCriteria(p) {
			var subjects = [];
			$('.inner-input.emne option:selected').each(function(i, e) {
				if (e.value != "" ) {
					subjects.push(e.value);
				}
			});

			var persons = [];
			$('.inner-input.person option:selected').each(function(i, e) {
				if (e.value != "" ) {
					persons.push(e.value);
				}
			});

			var authors = [];
			$('.forfatter').each(function(i, e) {
				if (e.value != "" ) {
					authors.push(e.value);
				}
			});

			var pages_from = [], pages_to = [];
			$('#kriterium-container input.pages-from').each(function(i, e) {
				e.value == "" ? pages_from.push(0) : pages_from.push(e.value);
			});

			$('#kriterium-container input.pages-to').each(function(i, e) {
				e.value == "" ? pages_to.push(10000) : pages_to.push(e.value);
			});

			var pages = _.zip(pages_from, pages_to);

			var years_from = [], years_to = [];
			$('#kriterium-container input.years-from').each(function(i, e) {
				e.value == "" ? years_from.push(0) : years_from.push(e.value);
			});

			$('#kriterium-container input.years-to').each(function(i, e) {
				e.value == "" ? years_to.push(10000) : years_to.push(e.value);
			});

			var years = _.zip(years_from, years_to);

			var audience = [];
			$('.inner-input.audience option:selected').each(function(i, e) {
				if (e.value != "" ) {
					audience.push(e.value);
				}
			});

			var review_audience = [];
			$('.inner-input.review-audience option:selected').each(function(i, e) {
				if (e.value != "" ) {
					review_audience.push(e.value);
				}
			});

			var genres = [];
			$('.inner-input.genre option:selected').each(function(i, e) {
				if (e.value != "" ) {
					genres.push(e.value);
				}
			});

			var languages = [];
			$('.inner-input.language option:selected').each(function(i, e) {
				if (e.value != "" ) {
					languages.push(e.value);
				}
			});

			var formats = [];
			$('.inner-input.litform option:selected').each(function(i, e) {
				if (e.value != "" ) {
					formats.push(e.value);
				}
			});

			var nationalities = [];
			$('.inner-input.nasjonalitet option:selected').each(function(i, e) {
				if (e.value != "" ) {
					nationalities.push(e.value);
				}
			});

			return { authors: authors, persons: persons, subjects: subjects,
			          pages: JSON.stringify(pages), years: JSON.stringify(years),
			          audience: audience, review_audience: review_audience,
			          genres: genres, languages: languages, formats: formats,
			          nationalities: nationalities, page: p}
		}

		$('#generate-list').on('click', function() {
			data = collectCriteria(1);

			var request = $.ajax({
			  url: '/lister',
			  type: "POST",
			  data: data,
			  dataType: "html"
			});

			$('#list-results').html("<img class='loading' src='img/loading.gif'>").show();

		    function printReviews(element, index, array) {
		    	$('#list-results').append('<p>'+element+'</p>');
		    }
			request.done(function(data) {
				$('#list-results').html(data);
				// var l = data.length;
				// if (l > 10) {
				// 	$('#list-results').html("<h2>"+ data.length +" treff, viser de første 10:</h2>");
				// } else {
				// 	$('#list-results').html("<h2>"+ data.length +" treff:</h2>");
				// }
				// data.forEach(printReviews);
			});
		});

		// Pagination
		$('#list-results').on('click', '.page', function() {
			var page = parseInt($(this).text());
			console.log(page);			data = collectCriteria(page);

			var request = $.ajax({
			  url: '/lister',
			  type: "POST",
			  data: data,
			  dataType: "html"
			});

			$('#list-results').html("<img class='loading' src='img/loading.gif'>").show();

		    function printReviews(element, index, array) {
		    	$('#list-results').append('<p>'+element+'</p>');
		    }
			request.done(function(data) {
				$('#list-results').html(data);
			});
		});

		$('#list-results').on('click', '.prev-page', function() {
			var page = parseInt($("#current-page").val()) - 1;
			data = collectCriteria(page);

			var request = $.ajax({
			  url: '/lister',
			  type: "POST",
			  data: data,
			  dataType: "html"
			});

			$('#list-results').html("<img class='loading' src='img/loading.gif'>").show();

		    function printReviews(element, index, array) {
		    	$('#list-results').append('<p>'+element+'</p>');
		    }
			request.done(function(data) {
				$('#list-results').html(data);
			});
		});

		$('#list-results').on('click', '.next-page', function() {
			var page = parseInt($("#current-page").val()) + 1;
			data = collectCriteria(page);

			var request = $.ajax({
			  url: '/lister',
			  type: "POST",
			  data: data,
			  dataType: "html"
			});

			$('#list-results').html("<img class='loading' src='img/loading.gif'>").show();

		    function printReviews(element, index, array) {
		    	$('#list-results').append('<p>'+element+'</p>');
		    }
			request.done(function(data) {
				$('#list-results').html(data);
			});
		});

	});
</script>