<div id="mylist-box" class="right-bar">
	<h3>Mine lister</h3>
	<div class="my-lists">
		<div class="single-list template-list" style="display:none">
			<div class="myliste-tittel">Uten tittel</div>
			<div class="mytriangle open"></div>
			<div class="clearfix"></div>
			<div class="myliste-innhold" style="display:none">
				<ol class="sortable"></ol>
				<div class="edit-title">
					<input autocomplete="off" class="liste-navn" placeholder="navn på lista" type="text" value="Uten tittel">
					<button class="save-list">lagre</button>
				</div>
				<div class="mylist-buttons">
					<button style="display:none" class="edit-list-title">endre tittel</button>
					<button class="delete-list">slett lista</button>
				</div>
				<p><a class="list-rss-link" href="" style="display:none">Lista som RSS-strøm</a></p>
			</div>
		</div>
		<% session[:mylists].values.reverse.each do |list| %>
			<% next if String(list['label']).empty? %>
			<div class="single-list" id="<%= list['uri'][31..-1] %>">
				<div class="myliste-tittel"><%= list["label"] %></div>
				<div class="mytriangle open"></div>
				<div class="clearfix"></div>
				<div class="myliste-innhold" style="display:none">
					<ol class="sortable">
						<% list["items"].each do |review| %>
							<li><a class="mylist-review" href="/anbefaling/<%= review["uri"][24,200] %>"><%= review["title"] %></a><a class="remove">x</a></li>
						<% end %>
					</ol>
					<div class="edit-title" style="<%= 'display:none' unless list["uri"][31..-1] == "id_new" %>">

						<input autocomplete="off" class="liste-navn" placeholder="navn på lista" type="text" value="<%= list['label'] %>">
						<button class="save-list">lagre</button>
					</div>
					<div class="mylist-buttons">
						<button style="<%= 'display:none' if list["uri"][31..-1] == "id_new" %>" class="edit-list-title">endre tittel</button>
						<button class="delete-list">slett lista</button>
					</div>
					<p><a style="<%= 'display:none' if list['uri'][31..-1] == 'id_new' %>" class="list-rss-link" href="/feed?list=<%= list['uri'] %>&title=<%= list['label']%>">Lista som RSS-strøm</a></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script>
$(document).ready(function() {
	// update session on rearranging
	$('.sortable').sortable().bind('sortupdate', function() {
		storeList($(this).parents('.single-list').attr('id'));
	});
});
</script>