<div class="main-left">
	<div class="my-reviews-header">
		<button id="show-draft" class="medium gray">Kladd (<%= @draft.size %>)</button> <button id="show-published" class="medium red">Publisert (<%= @published.size %>) </button>
		<select id="my-reviews-sorting">
			<option value="desc">Dato synkende</option>
			<option value="asc">Dato stigende</option>
		</select>
	</div>
	<div id="my-reviews-list">
		<% @published.merge(@draft).each do |uri,w| %>
			<% r = w["works"]["reviews"].first %>
			<div timestamp="<%= r["modified"] %>" class="my-review <%= w['works']['reviews'].first['published'] ? 'published' : 'draft' %>">
				<div class="book-cover book-description <%= "light-gray" unless w["works"]["cover_url"]  %>">
					<% if w["works"]["cover_url"] %>
						<img class="cover" src="<%= w["works"]["cover_url"] %>"/>
					<% end %>
				</div>
				<div class="my-reviews-info">
					<p class="date"><%= r['published'] ? 'Sist oppdatert' : 'Lagret som kladd' %> <%= r["modified"][0..9] %></p>
					<p class="review-title"><%= [r["title"], "Uten tittel"].reject { |x| x.empty? } .first%></p>
					<p class="my-reviews-teaser"><%= enforce_length(r["teaser"], 200) %></p>

					<div class="bottom">
						<p class="my-reviews-audiences">Målgruppe for anbefalingen:
							<%= r["audience"].map { |a| a.downcase } .join("/") || "Ikke valgt ennå" %></p><a href="/anbefaling<%= r['uri'][23..-1] %>/rediger"><button class="medium green">Rediger</button></a></div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="clearfix"></div>
</div>
<div class="main-right">
	<%= erb :login %>
	<%= erb :tipsbar %>
</div>

<script>
$("#my-reviews-list > div:visible").tsort('',{attr:'timestamp', order:"desc"});
</script>