<div class="main-left">
	<h2>Skriv ny anbefaling av:</h2>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @work["cover_url"] %>">
			<% if @work["cover_url"] %>
				<img class="cover" src="<%= @work["cover_url"] %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><%= @work["title"] %></strong></p>
			<p><strong><%= @work["author"] %></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<form id="review-form" action="/review" method="POST">
		<input class="required" type="text" name="title" placeholder="Tittel på anbefalingen"/>
		<textarea class="required" name="teaser" rows="2" placeholder="Skriv en teaser, maks to setninger"></textarea>
		<textarea class="required" name="review" rows="20" placeholder="Skriv en omtale"></textarea>

		<div>
		<p>Målgruppe(r) for <em>anbefalingen</em>, ikke for boka:</p>
			<input id="a1" class="audiences" name="audience" type="checkbox" value="barn">
			<label for="a1" class="checklabel">barn</label>
			<input id="a2" class="audiences" name="audience" type="checkbox" value="unge">
			<label for="a2" class="checklabel">unge</label>
			<input id="a3" class="audiences" name="audience" type="checkbox" value="voksen">
			<label for="a3" class="checklabel">voksne</label>
		</div>

		<div class="clearfix"></div>

		<div style="margin-top:20px;">
<!-- 			<div style="float:left">
				<button class="medium gray">Slett</button>
				<button class="medium gray">Forhåndsvisning</button>
			</div> -->
			<div style="float:right;margin-right:-25px">
				<button class="medium gray">Lagre kladd</button>
				<button id="publish" class="medium red">Publisér</button>
			</div>
		</div>
		<div class="clearfix"></div><div style="margin-top: 100px"></div>
	</form>
</div>
<div class="main-right">
	<%= erb :login %>
	<%= erb :tipsbar %>
</div>