<div class="main-left">
	<div class="isbn-form-new">
		<label>ISBN<input type="text" name="isbn" id="isbn"></label>
		<button class="medium red" id="isbn-button-new">Nytt søk</button>
		<span class="loading-message">Vent litt, søker<span id="loading"></span><span>
	</div>
	<h2>Skriv ny anbefaling av:</h2>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @utgave["cover_url"] %>">
			<% if @utgave["cover_url"] %>
				<img class="cover" src="<%= select_cover(@utgave) %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><%= @utgave["prefTitle"]  || @utgave["originalTitle"] %></strong></p>
			<p><strong><%= @utgave["authors"].map { |a| a["name"] } .join ", " %></strong></p>
		</div>
		<div class="reviewform-other">
			<%= @utgave["prefTitle"]  || @utgave["originalTitle"] %> har<br>
			<span class="red-text">x andre anbefalinger</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<form id="review-form" action="/review" method="POST">
		<input type="hidden" id="isbn" name="isbn" value="<%= @utgave["isbns"].first %>" />
		<input type="hidden" id="published" name="published" value="false" />
		<label>Tittel på anbefalingen<span class="redstar">*</span><br>
		<input id="title" class="required" type="text" name="title" placeholder="Lag en tittel som innbyr til lesing"/></label>
		<label>Kort teaser<span class="redstar">*</span><br>
		<textarea id="teaser" class="required" name="teaser" rows="2" placeholder="Skriv en teaser, maks to setninger"></textarea></label>
		<label>Omtale<br>
		<textarea id="text" name="text" rows="20" placeholder="Skriv en omtale"></textarea></label>

		<span>Målgruppe for anbefalingen<span class="redstar">*</span></span>
		<fieldset id="audiences-fieldset">
			<label for="a1" class="checklabel">barn
			<input id="a1" class="audiences" name="a1" type="checkbox" value="barn"></label><br>
			<label for="a2" class="checklabel">ungdom
			<input id="a2" class="audiences" name="a2" type="checkbox" value="ungdom"></label><br>
			<label for="a3" class="checklabel">voksne
			<input id="a3" class="audiences" name="a3" type="checkbox" value="voksen"></label><br>
		</fieldset>

		<div class="clearfix"></div>

		<div style="margin-top:20px;">
			<div style="float:right;margin-right:-25px">
				<button type="submit" id="draft" class="medium gray">Lagre kladd</button>
				<button type="submit" id="publish" class="medium red">Publisér</button>
			</div>
		</div>
		<div class="clearfix"></div><div style="margin-top: 100px"></div>
	</form>
</div>
<div class="main-right">
	<%= erb :login %>
</div>
<script>
$(document).ready(function() {

	$('#draft').on('click', function(event) {
		//event.preventDefault();
	});

	$('#publish').on('click', function(event) {
		var missing=0;
		// validering
		$('.required').each(function(i) {
			if (this.value == "") {
				this.className += " missing";
				missing += 1;
			}
		});
		if ($('.audiences:checked').length == 0) {
			$('#audiences-fieldset').addClass("missing");
			missing += 1;
		}

		if (missing > 0) {
			event.preventDefault();
			$('#messages').append("<p class='error'>Vennligst fyll inn obligatoriske felt!</p>");
		} else {
			$('#published').val("true");
		}
	});

	$('#review-form').on('focus', '.required', function () {
	if ($(this).hasClass('missing')) {
	  $(this).removeClass('missing');
	  }
	});

	$('.audiences').on('change', function(e) {
		$('#audiences-fieldset').removeClass("missing");
	});

});
</script>