<div class="main-left">
	<p class="lokkeskrift">De nyeste anbefalingene i basen</p>

	<% @reviews["works"].each do |work| %>
		<% r = work["reviews"].first %>
		<div class="clearfix"></div>
		<div class="listevisning">
			<div class="liste-img <%= "light-gray" if work['cover_url'].empty? %>">
				<img src="<%= work['cover_url'] %>">
			</div>
			<div class="liste-info">
				<p class="liste-title"><%= work["title"] %></p>
				<p class="liste-author">av <%= work["author"] %></p>
				<p class="liste-under">anbefalt av <span class="liste-reviewer"><%= r["reviewer"] %></span> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<p class="liste-teaser"><%= r["teaser"] %></p>
			</div>
		</div>
	<% end %>
	<div class="clearfix"></div>
	<div class="liste-end">
		<div style="float:left; width:600px"<p>For å se flere anbefalinger kan du søke etter forfatter, tittel eller ISBN-nummer i søkefeltet øverst til høyre. Du kan også prøve å <a href="/lag-lister">lage en liste</a> med anbefalinger</div>
		<div style="float:right; width: 100px">
			<% if @page < 4 %>
				<a href="/anbefalinger?side=<%= @page+1 %>">Neste</a>
			<% end %>
		</div>
	</div>

</div>
<div class="main-right">
	<%= erb :login %>
</div>
