<div class="main-left">
	<% if request.referrer =~ /search$/ %>
		<p><a href="javascript: history.back()">â† tilbake til trefflisten</a></p>
	<% end %>
 	<h2>Anbefaling: <%= @review["title"] %></h2>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @review["cover_url"] %>">
			<% if @review["cover_url"] %>
				<img class="cover" src="<%= @review["cover_url"] %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><%= @review["author"] %></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<h3><%= @review["reviews"].first["title"] %></h3>
	<div class="teaser">
		<%= @review["reviews"].first["teaser"] %>
	</div>
	<div class="review-text">
		<%= @review["reviews"].first["text"] %>
	</div>
	<div class="clearfix" style="margin-top:50px"></div>
	<% if @other_reviews.size > 0 %>
		<h3>Det finnes andre anbefalinger av denne boka:</h3>
		<% @other_reviews.each do |r| %>
			<div class="other-reviews"><div class="review-teaser">
				<p>
					<%= r["teaser"] %>
					<a href="/anbefaling/<%= r["uri"][36,200] %>">...les mer</a>
				</p>
			</div></div>
		<% end %>

	<% end %>
</div>
<div class="main-right">
	<%= erb :login %>
</div>