<div class="main-left">
	<p class="lokkeskrift">De nyeste anbefalingene i basen</p>
	<div class="liste-pagination tops">
		<% if @page > 1 %>
			<a href="/anbefalinger?side=<%= @page-1 %>">Forrige</a>
		<% end %>
		<% (1..4).each do|i| %>
			<% if @page == i %>
				<strong><%= i %></strong>
			<% else %>
				<a href="/anbefalinger?side=<%= i %>"><%= i %></a>
			<% end %>
		<% end %>
		<% if @page < 4 %>
			<a href="/anbefalinger?side=<%= @page+1 %>">Neste</a>
		<% end %>
	</div>
	<% @reviews["works"].each do |work| %>
		<% r = work["reviews"].first %>
		<div class="clearfix"></div>
		<div class="listevisning">
			<div class="liste-img <%= "light-gray" unless work['cover_url'] %>">
				<img src="<%= select_cover(work) %>">
			</div>
			<div class="liste-info">
				<p class="liste-title"><a href="/anbefaling/<%= r["uri"][24,200] %>"><%= work["prefTitle"] || work["originalTitle"] %></a></p>
				<p class="liste-author">av <%= authors_links(work["authors"]) %></p>
				<p class="liste-under">anbefalt av <%= reviewerformatted(r) %></a> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<p class="liste-teaser"><%= r["teaser"] %></p>
			</div>
		</div>
	<% end %>
	<div class="clearfix"></div>
		<p>For å se flere anbefalinger kan du <a href="/søk">søke etter forfatter, tittel eller ISBN-nummer</a>.. Du kan også prøve å <a href="/lag-lister">lage en liste</a> med anbefalinger</p>
	<div class="liste-pagination bottoms">
		<% if @page > 1 %>
			<a href="/anbefalinger?side=<%= @page-1 %>">Forrige</a>
		<% end %>
		<% (1..4).each do|i| %>
			<% if @page == i %>
				<strong><%= i %></strong>
			<% else %>
				<a href="/anbefalinger?side=<%= i %>"><%= i %></a>
			<% end %>
		<% end %>
		<% if @page < 4 %>
			<a href="/anbefalinger?side=<%= @page+1 %>">Neste</a>
		<% end %>
	</div>

</div>
<div class="main-right">
	<%= erb :login %>
</div>
