<div class="main-left">
	<% if request.referrer =~ /s%C3%B8k?\?/ %>
		<p><a href="javascript: history.back()">← tilbake til trefflista</a></p>
	<% end %>
 	<h2>Anbefaling av: <a class="work-link" href="/verk<%= @review["work_id"][28..-1] %>"><%= @review["title"] %></a></h2>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @review["cover_url"] %>">
			<% if @review["cover_url"] %>
				<img class="cover" src="<%= @review["cover_url"] %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><a class="author-link" href="/søk?forfatter=<%= @review["author"] %>"><%= @review["author"] %></a></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<h3><%= @review["reviews"].first["title"] %></h3>
	<div class="teaser">
		<% teaser = @review["reviews"].first["teaser"] %>
		<%= teaser %>
	</div>
	<div class="review-text">
		<% text = @review["reviews"].first["text"] %>
		<% if text[3...-1].start_with? teaser %>
			<%= text[0...3]+text[teaser.length+4...text.size] %>
		<% else %>
			<%= text %>
		<% end %>
	</div>
	<div class="clearfix" style="margin-top:50px"></div>
	<% if @other_reviews.size > 0 %>
		<h3>Det finnes andre anbefalinger av denne boka:</h3>
		<% @other_reviews.each do |r| %>
			<div class="other-reviews"><div class="review-teaser">
				<p>
					<%= r["teaser"] %>
					<a href="/anbefaling/<%= r["uri"][24,200] %>">...les mer</a>
				</p>
			</div></div>
		<% end %>
	<% end %>
	<% if session[:user] %>
		<div class="clearfix"></div>
		<div class="review-snippet" style="text-align:right;">
				<p><a href="/verk<%= @review["work_id"][28..-1] %>/ny"><button class="medium green" style="margin-right:150px">Skriv ny anbefaling</button></a></p>
		</div>
	<% end %>
</div>
<div class="main-right">
	<%= erb :login %>
</div>