<div class="main-left">
	<% if request.referrer =~ /s%C3%B8k?\?/ %>
		<p><a href="javascript: history.back()">← tilbake til trefflista</a></p>
	<% end %>
	<% r = @review["reviews"].first %>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @review["cover_url"] %>">
			<% if @review["cover_url"] %>
				<img class="cover" src="<%= @review["cover_url"] %>"/>
			<% end %>
		</div>
			<div class="review-info">
				<p class="liste-title"><a href="/anbefaling/<%= r["uri"][24,200] %>"><%= @review["prefTitle"] || @review["originalTitle"] %></a></p>
				<p class="liste-author">av <%= @review["authors"].map { |a| a["name"] } .join ", " %></p>
				<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<% if r["teaser"] %>
					<p class="review-teaser"><%= r["teaser"] %></p>
				<% end %>
			</div>
		<div>
			<p><strong><a class="author-link" href="/søk?forfatter=<%= @review["author"] %>"><%= @review["author"] %></a></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<% teaser = r["teaser"] %>
	<div class="review-text">
		<% text = r["text"] %>
		<% if compare_clean(text).start_with? teaser %>
			<%= text.gsub("#{teaser}", "") %>
		<% else %>
			<%= text %>
		<% end %>
		<p><em>Målgruppe for denne anbefalingen er <%= r["audience"].map { |a| a.downcase } .join("/") %></em></p>
	</div>
	<div class="clearfix" style="margin-top:50px"></div>
	<% if @other_reviews.size > 0 %>
		<h3>Det finnes andre anbefalinger av denne boka:</h3>
		<% @other_reviews.each do |r| %>
			<div class="other-reviews"><div class="review-teaser">
				<p>
					<%= r["teaser"] %>
					<a href="/anbefaling/<%= r["uri"][24,200] %>">...les mer</a>
				</p>
			</div></div>
		<% end %>
	<% end %>
<!-- 	<% if session[:user] %>
		<div class="clearfix"></div>
		<div class="review-snippet" style="text-align:right;">
				<p><a href="/manifestasjon<%= r["uri"][23..-1] %>/ny"><button class="long green" style="margin-right:150px">Skriv ny anbefaling</button></a></p>
		</div>
	<% end %> -->
</div>
<div class="main-right">
	<%= erb :login %>
</div>