<div class="main-left">
	<% if request.referrer =~ /s%C3%B8k?\?/ %>
		<p><a href="javascript: history.back()">← tilbake til trefflista</a></p>
	<% end %>
	<% r = @review["reviews"].first %>
	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @review["cover_url"] %>">
			<% if @review["cover_url"] %>
				<img class="cover" src="<%= select_cover(@review) %>"/>
			<% end %>
		</div>
			<div class="review-info">
				<p class="liste-title"><a href="/anbefaling/<%= r["uri"][24,200] %>"><%= @review["prefTitle"] || @review["originalTitle"] %></a></p>
				<p class="liste-author">av <%= authors_links(@review["authors"]) %></p>
				<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<% if r["teaser"] %>
					<p class="review-teaser"><%= r["teaser"] %></p>
				<% end %>
			</div>
		<div>
			<p><strong><a class="author-link" href="/søk?forfatter=<%= @review["author"] %>"><%= @review["author"] %></a></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<% teaser = r["teaser"] %>
	<div class="review-text">
		<% text = r["text"] %>
		<% if compare_clean(text).start_with? teaser %>
			<%= text.gsub("#{teaser}", "") %>
		<% else %>
			<%= text %>
		<% end %>
		<p><em>Målgruppe for denne anbefalingen er <%= r["audience"].map { |a| a.downcase } .join("/") %></em></p>
	</div>
	<% if session[:user] and session[:user_uri] == r["reviewer"]["uri"] %>
		<a href="<%= request.path+'/rediger' %>"><button class="medium green">Rediger</button></a>
	<% end %>
	<div class="clearfix" style="margin-top:50px"></div>
	<% if @other_reviews.size > 0 %>
		<h3 class="no-bold border">Andre anbefalinger av <em><%= @review["prefTitle"] || @review["originalTitle"] %></em></h3>
		<% @other_reviews.each do |r| %>
			<div class="border">
				<span class="left">
					<strong class="red-text"><a href="/anbefaling<%= r['uri'][23..-1] %>"><%= r["title"]%></a></strong>
				</span><br>
			</div>
			<p class="other-reviews">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
			<p class="other-teaser"><%= r["teaser"] %></p>
		<% end %>
	<% else %>
		<h3 class="no-bold border">Det finnes ingen andre anbefalinger av <em><%= @review["prefTitle"] || @review["originalTitle"] %></em></h3>
	<% end %>
	<% if session[:user] %>
		<div class="clearfix"></div>
		<p><a href="/manifestasjon<%= r["edition"][23..-1] %>/ny"><button class="big green" style="margin-right:150px">Skriv en anbefaling av denne boka</button></a></p>
	<% else %>
<!-- 		<div class="clearfix"></div>
		<p>Logg deg inn for å skrive en anbefaling av denne boka!</p> -->
	<% end %>
</div>
<div class="main-right">
	<%= erb :login %>
</div>