<div class="main-left">
	<p class="lokkeskrift">Søk etter anbefalinger</p>
	<form id="advanced-search">
		<label>Boktittel</label>
		<select name="tittel" id="search-title" style="width:305px;" data-placeholder="søk/velg tittel">
			<option></option>
			<% @dropdown.titles.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"  <%= 'selected="selected"' if params["tittel"] == k %>><%= v %></option>
			<% end %>
		</select><br><br>
		<label>Forfatter av boken</label>
		<select name="forfatter" id="search-author" style="width:305px;" data-placeholder="søk/velg forfatter">
			<option></option>
			<% @dropdown.authors.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>" <%= 'selected="selected"' if params["forfatter"] == k %>><%= v %></option>
			<% end %>
		</select><br>
		<label>ISBN-nummer</label><input name="isbn" id="search-isbn" type="text" value="<%= params["isbn"] %>"><br>
<!-- 		<label>Illustratør</label><input type="text" placeholder="ikke implementert ennå" disabled="disabled"><br>
		<label>Oversetter</label><input type="text" placeholder="ikke implementert ennå" disabled="disabled"><br> -->
		<label>Anbefalers navn</label>
		<select name="anmelder" id="search-reviewer" style="width:305px" type="text" data-placeholder="søk/velg anbefaler">
			<option></option>
			<% @dropdown.reviewers.sort_by { |k,v| v }.each do |k,v| %>
			<% unless k == "http://data.deichman.no/reviewer/id_0" %>
				<option value="<%= k %>" <%= 'selected="selected"' if params["anmelder"] == k %>><%= v %></option>
			<% end %>
			<% end %>
		</select><br>
		<button type="submit" class="red medium">Søk</button>
		<div class="clearfix"></div>
	</form>

	<div id="search-results">
		<% if @error_message %>
			<p class="error"><strong><%= @error_message %></strong></p>
		<% end %>
		<% if @works %>
			<h3>Anbefalinger av <%= @works.first["authors"].first["name"] %>s bøker</h3>
			<% countable = @works.reject { |w| w["reviews"].nil? || w["reviews"].empty? || w["reviews"].all? { |r| r["published"] == false } } %>
			<p style="color: #aaa"><%= countable.map {|c| c["reviews"].reject { |r| r["published"] == false} .length } .inject(&:+) %> anbefalinger av <%= countable.count %> ulike bøker</p>
			<% @works.each do |w| %>
				<% if w["reviews"] && w["reviews"].length >= 1 %>
					<div class="search-hit">
						<span class="left">
							<strong class="red-text"><%= w["prefTitle"] || w["originalTitle"] %></strong>
						</span>
						<span class="right num">
							<%= w["reviews"].length %> anbefaling<%= 'er' if w["reviews"].length > 1 %>
						</span><br/>
					</div>
					<% w["reviews"].each do |r| %>
						<% unless r["published"] == false %>
							<p>
								<a href="/anbefaling<%= r['uri'][23..-1] %>"><%= r["title"]%></a> anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span>
							</p>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<% if @work %>
			<h3>Fant <%= @work["reviews"].length %> anbefaling av <%= @work["prefTitle"] || @work["originalTitle"] %> av <%= @work["authors"].map { |a| a["name"] } .join ", " %></h3>
			<% @work["reviews"].each do |r| %>
					<div class="search-hit">
						<span class="left">
							<strong class="red-text"><a href="/anbefaling<%= r['uri'][23..-1] %>"><%= r["title"]%></a></strong>
						</span><br>
					</div>
					<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
					<p style="width:90%; margin-top:10px"><%= r["teaser"] %></p>
			<% end %>
		<% end %>


		<% if @isbn %>
			<% puts @isbn %>
			<h3>Fant <%= Array(@isbn["reviews"]).length %> anbefalinger av <%= @isbn["prefTitle"] || @isbn["originalTitle"] %> av <%= Array(@isbn["authors"]).map { |a| a["name"] } .join ", " %></h3>
			<% Array(@isbn["reviews"]).each do |r| %>
					<div class="search-hit">
						<span class="left">
							<strong class="red-text"><a href="/anbefaling<%= r['uri'][23..-1] %>"><%= r["title"]%></a></strong>
						</span><br>
					</div>
					<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
					<p style="width:90%; margin-top:10px"><%= r["teaser"] %></p>
			<% end %>
		<% end %>

		<% if @reviews %>
			<h3>Anbefalinger av <%= @dropdown.reviewers[params["anmelder"]] %></h3>
			<% @reviews.reject { |w| w["reviews"].first["issued"].nil? } .each do |w| %>
			<% r = w["reviews"].first %>
				<div class="search-hit">
					<span class="left">
						<strong class="red-text"><a href="/anbefaling<%= r['uri'][23..-1] %>"><%= r["title"]%></a></strong>
					</span><br>
				</div>
				<p class="liste-under">anbefalt av <%= reviewerformatted(r) %> <span class="liste-date"><%= dateformat(r["issued"]) %></span> </p>
				<p style="width:90%; margin-top:10px"><%= r["teaser"] %></p>
			<% end %>
		<% end %>

	</div>
</div>

<div class="main-right">
	<%= erb :login %>
</div>

<script>
$(document).ready(function() {
	$('#search-author').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('#search-title').attr('disabled', true).trigger("liszt:updated");
			$('#search-reviewer').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('#search-title').attr('disabled', false).trigger("liszt:updated");
			$('#search-reviewer').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);

		}
	});

	$('#search-title').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('#search-author').attr('disabled', true).trigger("liszt:updated");
			$('#search-reviewer').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('#search-author').attr('disabled', false).trigger("liszt:updated");
			$('#search-reviewer').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);

		}
	});

	$('#search-reviewer').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('#search-title').attr('disabled', true).trigger("liszt:updated");
			$('#search-author').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('#search-title').attr('disabled', false).trigger("liszt:updated");
			$('#search-author').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);
		}
	});

	$('#search-isbn').on('keyup', function() {
		if ( $(this).val() == "") {
			$('#search-reviewer').attr('disabled', false).trigger("liszt:updated");
			$('#search-title').attr('disabled', false).trigger("liszt:updated");
			$('#search-author').attr('disabled', false).trigger("liszt:updated");
		} else {
			$('#search-reviewer').attr('disabled', true).trigger("liszt:updated");
			$('#search-title').attr('disabled', true).trigger("liszt:updated");
			$('#search-author').attr('disabled', true).trigger("liszt:updated");
		}

	});

});
</script>