<input id="searchterms" type="hidden" value="<%= @searchterms %>"/>
<h2>Søk etter "<%= @searchterms %>" ga</h2>
<% if @num_authors > 0 %>
<h3><%= @num_authors %> treff i forfattere</h3>
	<% @sorted.each_with_index do |(author, work), i| %>
		<ul class="search-list">
			<li><a href="#a_<%= i+1 %>"><%= author %></a></li>
		</ul>
	<% end %>
<% end %>
<div class="clearfix"></div>
<% if @num_titles > 0 %>
<h3><%= @num_titles %> treff i titler</h3>
	<% @titles["works"].each_with_index do |work, i| %>
		<ul class="search-list">
			<li><a href="#t_<%= i+1 %>"><%= work["title"] %></a></li>
		</ul>
	<% end %>
<% end %>
<div class="clearfix"></div>
<% if @num_authors > 0 %>
	<div class="search-author">
		<h2>Forfattere</h2>
		<% @sorted.each_with_index do |(author, work), i| %>
			<div id="a_<%= i+1 %>" class="clearfix"></div>
			<h3 class="author"><%= i+1 %>. <%= author %></h3>
			<div class="top-link"><a href="#top">til toppen ↑</a></div>

			<% work.each do |w| %>
				<div class="search-work">
					<div class="book-cover book-description <%= "light-gray" unless w["cover_url"] %>">
						<% if w["cover_url"] %>
							<img class="cover" src="<%= w["cover_url"] %>"/>
						<% end %>
					</div>
					<div class="book-description">
						<p class="title"><a href="/verk<%= w["work_id"][28..-1] %>"><strong><%= w["title"] %></strong></a></p>
						<p class="author"><a href="/search?author=<%= w["author"] %>"><%= w["author"] %></a></p>
					</div>
				</div>
				<% w["reviews"].each do |r| %>
					<div class="clearfix"></div>
					<div class="review-snippet">
						<div class="review-date">
							<%= r["modified"][8,2]+'.'+r["modified"][5,2]+'.'+r["modified"][0,4] %>
						</div>
						<div class="review-teaser">
							<strong><%= r["title"] %></strong><br/>
							<p>
								<%= r["teaser"] %>
								<a href="/anbefaling/<%= r["uri"][24,200] %>">...les mer</a>
							</p>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>

<div class="clearfix"></div>

<% if @num_titles > 0 %>
	<div class="search-title">
		<h2>Titler</h2>
		<% @titles["works"].each_with_index do |work, i| %>
			<div id="t_<%= i+1 %>" class="clearfix"></div>
			<h3 class="author"><%= i+1 %>. <%= work["title"] %></h3>
			<div class="top-link"><a href="#top">til toppen ↑</a></div>
			<div class="search-work">
				<div class="book-cover book-description <%= "light-gray" unless work["cover_url"] %>">
					<% if work["cover_url"] %>
						<img class="cover" src="<%= work["cover_url"] %>"/>
					<% end %>
				</div>
				<div class="book-description">
					<p class="title"><a href="/verk<%= work["work_id"][28..-1] %>"><strong><%= work["title"] %></strong></a></p>
					<p class="author"><a href="/search?author=<%= work["author"] %>"><%= work["author"] %></a></p>
				</div>
			</div>
			<% work["reviews"].each do |r| %>
				<div class="clearfix"></div>
				<div class="review-snippet">
					<div class="review-date">
						<%= r["modified"][8,2]+'.'+r["modified"][5,2]+'.'+r["modified"][0,4] %>
					</div>
					<div class="review-teaser">
						<strong><%= r["title"] %></strong><br/>
						<p>
							<%= r["teaser"] %>
							<a href="/anbefaling/<%= r["uri"][24,200] %>">...les mer</a>
						</p>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

<div class="clearfix"></div>
<div style="margin-top:200px"></div>