<div class="main-left">
	<p class="lokkeskrift">Søk etter anbefalinger</p>
	<form id="advanced-search">
		<label>Boktittel</label>
		<select class="dropdowns" name="tittel" id="search-title" style="width:305px;" data-placeholder="søk/velg tittel">
			<option></option>
			<% @dropdown.titles.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>"  <%= 'selected="selected"' if params["tittel"] == k %>><%= v %></option>
			<% end %>
		</select><br><br>
		<label>Forfatter av boken</label>
		<select class="dropdowns" name="forfatter" id="search-author" style="width:305px;" data-placeholder="søk/velg forfatter">
			<option></option>
			<% @dropdown.authors.sort_by { |k,v| v }.each do |k,v| %>
			<option value="<%= k %>" <%= 'selected="selected"' if params["forfatter"] == k %>><%= v %></option>
			<% end %>
		</select><br>
		<label>ISBN-nummer</label><input name="isbn" id="search-isbn" type="text" value="<%= params["isbn"] %>"><br>
<!-- 		<label>Illustratør</label><input type="text" placeholder="ikke implementert ennå" disabled="disabled"><br>
		<label>Oversetter</label><input type="text" placeholder="ikke implementert ennå" disabled="disabled"><br> -->
		<label>Anbefalers navn</label>
		<select class="dropdowns" name="anmelder" id="search-reviewer" style="width:305px" type="text" data-placeholder="søk/velg anbefaler">
			<option></option>
			<% @dropdown.reviewers.sort_by { |k,v| v }.each do |k,v| %>
			<% unless k == "http://data.deichman.no/reviewer/id_0" %>
				<option value="<%= k %>" <%= 'selected="selected"' if params["anmelder"] == k %>><%= v %></option>
			<% end %>
			<% end %>
		</select><br>
		<label>Kilde</label>
		<select class="dropdowns" name="kilde" id="search-source" style="width:305px" type="text" data-placeholder="søk/velg kilde">
			<option></option>
			<% @dropdown.sources.sort_by { |k,v| v }.each do |k,v| %>
				<option value="<%= k %>" <%= 'selected="selected"' if params["kilde"] == k %>><%= v %></option>
			<% end %>
		</select><br>
		<button type="submit" class="red medium">Søk</button>
		<div class="clearfix"></div>
	</form>

	<div id="search-results">
		<% if @error_message %>
			<p class="error"><strong><%= @error_message %></strong></p>
		<% end %>

		<h3><%= @results_title %></h3>
		<% if @type == "images" %>
			<% @result.each do |review| %>
				<div class="clearfix"></div>
				<div class="listevisning">
					<div class="liste-img <%= "light-gray" unless review.book_cover %>">
						<% if review.book_cover %>
							<img src="<%= review.book_cover %>">
						<% else %>
							<p class="cover-author"><%= review.book_authors.map { |a| a["name"] }.join(", ")%></p>
							<p class="cover-title"><%= review.book_title %></p>
						<% end %>
					</div>
					<div class="liste-info">
						<p class="liste-title"><a href="/anbefaling/<%= review.uri[24,200] %>"><%= review.book_title %></a></p>
						<p class="liste-author">av <%= authors_links(review.book_authors) %></p>
						<p class="liste-under">anbefalt av <%= reviewer_link(review) %></a> <span class="liste-date"><%= dateformat(review.issued) %></span> </p>
						<p class="liste-teaser"><%= review.teaser %></p>
					</div>
				</div>
			<% end %>
		<% elsif @type == "work-list" %>
			<p style="color: #aaa"><%= @result.map {|w| w.reviews.reject { |r| r.published == false} .length } .inject(&:+) %> anbefalinger av <%= @result.count %> ulike bøker</p>
			<% @result.each do |work| %>
				<div class="search-hit">
					<span class="left">
						<strong class="red-text"><%= work.title %></strong>
					</span>
					<span class="right num">
						<%= work.reviews.count %> anbefaling<%= 'er' if work.reviews.count > 1 %>
					</span><br/>
				</div>
				<% work.reviews.each do |review| %>
					<% unless review.published == false %>
						<p class="search">
							<a href="/anbefaling<%= review.uri[23..-1] %>"><%= review.title%></a> anbefalt av <%= reviewer_link(review) %> <span class="liste-date"><%= dateformat(review.issued) %></span>
						</p>
					<% end %>
				<% end %>
			<% end %>
		<% else %>
			<% @result.each do |review| %>
				<div class="search-hit">
					<span class="left">
						<strong class="red-text"><a href="/anbefaling<%= review.uri[23..-1] %>"><%= review.title%></a></strong>
					</span><br>
				</div>
				<p class="liste-under">anbefalt av <%= reviewer_link(review) %> <span class="liste-date"><%= dateformat(review.issued) %></span> </p>
				<p style="width:90%; margin-top:10px"><%= review.teaser %></p>
			<% end %>
		<% end %>
		<div class="clearfix" style="margin:20px"></div>
		<p><br></p>
		<% if @feed_url %>
			<div class="liste-link">
				<h3>Abonnér på dette søket:</h3>
				<span class="hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser"><img class="rss" src="img/feed-icon-28x28.png"></span><input class="rss-link" class="text" disabled="disabled" value="<%= @feed_url %>"><button class="medium green" id="rss-copy">Kopier</button>
			</div>
		<% end %>
	</div>
</div>

<div class="main-right">
	<%= erb :login %>
</div>

<script>
$(document).ready(function() {
	$('#search-author').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('.dropdowns:not(#search-author)').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('.dropdowns').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);
		}
	});

	$('#search-source').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('.dropdowns:not(#search-source)').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('.dropdowns').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);

		}
	});

	$('#search-title').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('.dropdowns:not(#search-title)').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('.dropdowns').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);

		}
	});

	$('#search-reviewer').chosen({no_results_text: "Ingen treff for", allow_single_deselect: true}).change(function() {
		var selected = $(this).find('option:selected').val();
		if (selected != "") {
			$('.dropdowns:not(#search-reviewer)').attr('disabled', true).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', true);
		} else {
			$('.dropdowns').attr('disabled', false).trigger("liszt:updated");
			$('#search-isbn').attr('disabled', false);
		}
	});

	$('#search-isbn').on('keyup', function() {
		if ( $(this).val() == "") {
			$('.dropdowns').attr('disabled', false).trigger("liszt:updated");
		} else {
			$('.dropdowns').attr('disabled', true).trigger("liszt:updated");
		}
	});

	$("#search-results").on('click', '#rss-copy', function() {
		window.prompt("Trykk Ctrl+C, så Enter for å kopiere", $(this).prev().val());
	});

});
</script>