<div class="main-left">
	<p class="lokkeskrift">Her er ulike anbefalingslister du kan ta med deg til din egen nettside eller blogg</p>

	<% @lists.each do |list| %>

		<div class="anbefalingsliste">
			<div class="liste-tittel"><%= list[:title] %></div>
			<div class="triangle open"></div>
			<div class="clearfix"></div>
			<div class="liste-innhold" style="display:none">
				<ol>
					<% list[:reviews].each do |r| %>
						<li><a href="/anbefaling/<%= r.uri[24,200] %>"><%= r.book_title %></a> av <%= authors_links(r.book_authors) %></li>
					<% end %>
				</ol>
				<div class="liste-link">
	<span class="hint hint--bottom" data-hint="RSS også kalt «levende bokmerker» er en ordning der en nettleser på en datamaskin henter nyheter eller annet materiale fra Internett fortløpende og automatisk.
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Du kan legge inn lenken på din blogg eller abonnere på i din RSS-leser"><img class="rss" src="img/feed-icon-28x28.png"></span><input class="rss-link" class="text" disabled="disabled" value="<%= list[:feed] %>"><button class="long green rss-copy">Kopier RSS-lenken</button>
				</div>
			</div>
		</div>

	<% end %>


</div>
<div class="main-right">
	<%= erb :login %>
</div>
<script>
	$(document).ready(function() {
		$(".anbefalingsliste").on('click', '.rss-copy', function() {
			window.prompt("Trykk Ctrl+C, så Enter for å kopiere", $(this).prev().val());
		});

		$('.anbefalingsliste').on('click', '.triangle.close', function() {
			$(this).removeClass("close").addClass("open");
			$(this).next().next().slideUp();
		});

		$('.anbefalingsliste').on('click', '.triangle.open', function() {
			$('.liste-innhold').slideUp();
			$('.close').removeClass("close").addClass("open");
			$(this).removeClass("open").addClass("close");
			$(this).next().next().slideDown();
		});

		$('.liste-tittel').on('click', function() {
			$(this).next().click();
		});

	});
</script>