<div class="main-left">
	<% if request.referrer =~ /søk?/ %>
		<p><a href="javascript: history.back()">← tilbake til trefflista</a></p>
	<% end %>
 	<h2>Verk: <%= @work["title"] %></h2>
 	<div id="review-heading">
		<div class="book-cover <%= "light-gray" unless @work["cover_url"] %>">
			<% if @work["cover_url"] %>
				<img class="cover" src="<%= @work["cover_url"] %>"/>
			<% end %>
		</div>
		<div>
			<p><strong><a href="/søk?forfatter=<%= @work["author"] %>"><%= @work["author"] %></a></strong></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="clearfix" style="margin-top:50px"></div>
	<% if @work["reviews"].size == 1 %>
		<h3>Det finnes 1 anbefaling av denne boka: </h3>
	<% elsif @work["reviews"].size > 1 %>
		<h3>Det finnes <%= @work["reviews"].size %> anbefalinger av denne boka: </h3>
	<% end %>
	<% @work["reviews"].each do |r| %>
		<div class="clearfix"></div>
		<div class="review-snippet">
			<div class="review-date">
				<%= r["modified"][8,2]+'.'+r["modified"][5,2]+'.'+r["modified"][0,4] %>
			</div>
			<div class="review-teaser-work">
				<strong><%= r["title"] %></strong><br/>
				<p>
					<%= r["teaser"] %>
					<a href="/anbefaling/<%= r["uri"][24,200] %>">...les mer</a>
				</p>
			</div>
		</div>
	<% end %>
	<% if session[:user] %>
		<div class="clearfix"></div>
		<div class="review-snippet">
			<div class="review-date">
				&nbsp;
			</div>
			<div class="review-teaser-work">
				<strong>Din anbefaling her!</strong><br/>
				<p><a href="/verk<%= @work["work_id"][28..-1] %>/ny"><button class="medium green">Anbefal denne boka</button></a></p>
			</div>
		</div>

	<% end %>
</div>
<div class="main-right">
	<%= erb :login %>
</div>